<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../template/head') %>
<body>
  <!-- navbar -->
  <%- include('../template/navbar') %>
  <!-- 存放技術之地 -->
  <header class="header">
    <div>
      <h2>存放技術之地</h2>
      <p>Welcome to my blog</p> 
    </div>
  </header>
  <!-- 編輯 article 區 -->
  <div class="wrap">
    <div class="articles">
      <!-- 一篇一篇 -->
      <% articles.rows.forEach(article => { %>
        <div class="article-edit__list">
          <div class="article-edit__title">
            <a href="/view_article/<%= article.id %>"><%= article.title %></a>
          </div>
          <div class="article-edit__info">
            <p class="article-edit__time"><%= article.createdAt.toLocaleString() %></p>
          </div>
        </div>
      <% }) %>
      <!-- 分頁 -->
      <%
        let totalItems = articles.count
        let totalPages = Math.ceil(totalItems / limit)
      %>
      <div class="paginator">
          <a href="/articles_list">第一頁</a>
          <% if (page !== 1) { %>
            <a href="/articles_list/<%= page-1 %>">上一頁</a>
          <% } %>
          <% for (let i = 1; i <= totalPages; i += 1) { %>
            <a href="/articles_list/<%= i %>"><%= i %></a>
          <% } %>
          <% if (page !== totalPages) { %>
            <a href="/articles_list/<%= page+1 %>">下一頁</a>
          <% } %>
          <a href="/articles_list/<%= totalPages %>">最後一頁</a>
      </div>
    </div>    
  </div>
</body>
</html>